<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.server.wallet"
    coreApp="true"
    android:sharedUserId="android.uid.system">

    <uses-sdk android:minSdkVersion="21"/>

    <uses-permission android:name="android.permission.MANAGE_USERS" />

    <application android:label="@string/applabel"
        android:process="system"
        android:directBootAware="true">

        <service android:name=".WalletService"
            android:exported="true"
            android:process="system">
            <intent-filter>
                <action android:name="android.wallet.IWalletManager" />
            </intent-filter>
        </service>

    </application>
</manifest>